$fuentePrincipal: "Montserrat", sans-serif;
// colores
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #f3f46d;
$morado: #752f97;
$negro: #000;
$gris: #212121;
$blanco: #fff;
// Media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
// Separaciones
$separacion: 5rem;

//orientaciones
$vertical: portrait;
$horizontal: landscape;
